* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
// font-family: 'Shadows Into Light', cursive;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
// font-family: 'Indie Flower', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");
// font-family: 'Rubik Beastly', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
// font-family: 'Rubik Moonrocks', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap");
// font-family: 'Rubik Gemstones', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap");
// font-family: 'Rubik Burned', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");
// font-family: 'Rubik Microbe', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
// font-family: 'Rubik Glitch', cursive;
@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");
// font-family: 'Glass Antiqua', cursive;
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
// font-family: 'Passions Conflict', cursive;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
// font-family: 'Pacifico', cursive;

:root {
  --scroll-color: linear-gradient(salmon, green);
  --shadow-color: rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
  font-family: "Shadows Into Light", cursive;
  height: 100%;
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--shadow-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  outline: 1px solid transparent;
  border-radius: 20px;
}

.minesweeper {
  &_body {
    width: 100%;
    background: url("./refs/pics/background/jungle_light_001.jpg") no-repeat
      center center fixed;
    background-size: cover;

    &.active {
      width: 100%;
      background: url("./refs/pics/background/jungle_dark_001.jpg") no-repeat
        center center fixed;
      background-size: cover;
    }
  }

  &_wrapper {
    width: 50vw;
    min-width: 360px;
    max-width: 680px;
    margin: 0 auto;
  }

  &_header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  &_timer {
    width: 20%;
    background-color: rgba(59, 237, 121, 0.85);
    font-family: "Rubik Beastly", cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
  }

  &_time {
    font-size: 3rem;
  }

  &_flags_holder {
    width: 20%;
    background-color: rgba(127, 255, 212, 0.85);
    font-family: "Rubik Gemstones", cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
  }

  &_flags_pics {
    width: 50%;
    aspect-ratio: 1 / 1;
    background-image: url("./refs/icons/flags/apple.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &_mines {
    width: 20%;
    background-color: rgba(243, 243, 102, 0.85);
    //background-color: rgba(255, 144, 158, 0.85);
    font-family: "Rubik Microbe", cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
  }

  &_mines_counter {
    font-size: 3rem;
  }

  &_clicks {
    width: 20%;
    background-color: rgba(255, 144, 158, 0.85);
    //background-color: rgba(243, 243, 102, 0.85);
    font-family: "Rubik Moonrocks", cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
  }

  &_clicks_counter {
    font-size: 3rem;
  }

  &_field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 10%;
    border: 5px solid salmon;
    margin-top: 20px;
    background-color: rgba(168, 221, 89, 0.8);

    .active {
      background-color: rgba(89, 221, 170, 0.8);
      // background-color: rgba(89, 142, 221, 0.8);
    }
  }

  &_cell {
    width: calc(100% * (1 / 10));
    aspect-ratio: 1 / 1;
    border: 1px solid goldenrod;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    text-align: center;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &_size {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 127, 219, 0.8);
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  &_small {
    display: inline-block;
    font-size: 1.2rem;
    font-family: "Rubik Glitch", cursive;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: cornsilk;
    }
  }

  &_medium {
    display: inline-block;
    font-size: 1.2rem;
    font-family: "Rubik Glitch", cursive;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: cornsilk;
    }
  }

  &_large {
    display: inline-block;
    font-size: 1.2rem;
    font-family: "Rubik Glitch", cursive;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      color: cornsilk;
    }
  }

  &_theme {
    width: 20%;
    aspect-ratio: 1 / 1;
    display: inline-block;
    font-size: 24px;
    font-family: "Rubik Glitch", cursive;
    border: 5px solid yellow;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.4);

    &.active {
      border: 5px solid purple;
      background-color: rgba(128, 0, 128, 0.4);
    }
  }

  &_day {
    width: 45%;
    aspect-ratio: 1 / 1;
    display: inline-block;
    background-image: url("./refs/icons/theme_day/cucumber.svg");
    background-repeat: no-repeat;
    background-size: contain;
    resize: both;
    transform: translate(10px, 12px);
    filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.8));

    &.active {
      filter: drop-shadow(0 0 5px rgba(128, 0, 128, 0.8));
    }

    &:hover {
      cursor: pointer;
    }
  }

  &_night {
    width: 45%;
    aspect-ratio: 1 / 1;
    display: inline-block;
    background-image: url("./refs/icons/theme_night/eggplant.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(0px, 50px);
    filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.8));

    &.active {
      filter: drop-shadow(0 0 5px rgba(128, 0, 128, 0.8));
    }

    &:hover {
      cursor: pointer;
    }
  }

  &_theme_divider {
    width: 100%;
    height: 5px;
    display: inline-block;
    background: linear-gradient(270deg, yellow, purple);
    transform: rotate(-45deg) translate(12%, -200%);
    border-radius: 5px;
  }

  &_danger_sign {
    width: 45%;
    aspect-ratio: 1 / 0.6;
    background-image: url("./refs/pics/danger_sign.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    resize: both;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_danger_text {
    font-size: 1.9rem;
    color: rgb(10, 63, 10);
    position: relative;
    z-index: 10;
    mix-blend-mode: multiply;
    opacity: 0.8;
    font-family: "Rubik Burned", cursive;
    text-align: center;
    transform: translateX(5px);
    user-select: none;
  }

  &_danger_tiger {
    width: 30%;
    aspect-ratio: 1 / 0.8;
    background-image: url("./refs/pics/small_tiger.png");
    background-repeat: no-repeat;
    background-size: contain;
    resize: both;
    display: inline-block;
    animation-name: tiger_anim_four;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-play-state: paused;
  }

  @keyframes tiger_anim_one {
    0% {
      background-image: url("./refs/pics/small_tiger.png");
    }
    30% {
      background-image: url("./refs/pics/small_tiger_tail.png");
    }
    50% {
      background-image: url("./refs/pics/small_tiger.png");
    }
    80% {
      background-image: url("./refs/pics/small_tiger_tail.png");
    }
    100% {
      background-image: url("./refs/pics/small_tiger.png");
    }
  }

  @keyframes tiger_anim_two {
    0% {
      background-image: url("./refs/pics/small_tiger.png");
    }
    10% {
      background-image: url("./refs/pics/small_tiger_tongue.png");
    }
    90% {
      background-image: url("./refs/pics/small_tiger_tongue.png");
    }
    100% {
      background-image: url("./refs/pics/small_tiger.png");
    }
  }

  @keyframes tiger_anim_three {
    0% {
      background-image: url("./refs/pics/small_tiger.png");
    }
    10% {
      background-image: url("./refs/pics/small_tiger_tail_tongue.png");
    }
    90% {
      background-image: url("./refs/pics/small_tiger_tail_tongue.png");
    }
    100% {
      background-image: url("./refs/pics/small_tiger.png");
    }
  }

  @keyframes tiger_anim_four {
    0% {
      background-image: url("./refs/pics/small_tiger.png");
    }
    10% {
      background-image: url("./refs/pics/small_tiger_tail_tongue.png");
    }
    20% {
      background-image: url("./refs/pics/small_tiger_tongue.png");
    }
    30% {
      background-image: url("./refs/pics/small_tiger_tail_tongue.png");
    }
    40% {
      background-image: url("./refs/pics/small_tiger_tongue.png");
    }
    50% {
      background-image: url("./refs/pics/small_tiger_tail_tongue.png");
    }
    60% {
      background-image: url("./refs/pics/small_tiger_tongue.png");
    }
    70% {
      background-image: url("./refs/pics/small_tiger_tail_tongue.png");
    }
    80% {
      background-image: url("./refs/pics/small_tiger_tongue.png");
    }
    90% {
      background-image: url("./refs/pics/small_tiger_tail_tongue.png");
    }
    100% {
      background-image: url("./refs/pics/small_tiger.png");
    }
  }

  &_instruction {
    font-family: "Shadows Into Light", cursive;
    font-size: 2.2rem;
    text-align: center;
    color: rgb(249, 255, 67);
    text-shadow: 0 0 10px rgb(3, 36, 3), 0 0 15px rgb(4, 53, 4),
      0 0 20px rgb(9, 96, 9);
    user-select: none;

    &.active {
      color: rgba(128, 0, 128);
      text-shadow: 0 0 10px rgb(239, 255, 15), 0 0 15px rgb(255, 227, 19),
        0 0 20px rgb(255, 200, 19);
    }
  }

  &_author {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
    font-size: 1.6rem;
    color: rgba(255, 144, 158);
    text-shadow: 0 0 10px rgb(3, 36, 3), 0 0 15px rgb(4, 53, 4),
      0 0 20px rgb(9, 96, 9);
    // text-decoration: none;
    transition: all 0.4s ease-in-out;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: rgb(249, 255, 67);
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199.98px) {
  html {
    font-size: 14px;
  }

  .minesweeper {
    &_theme_divider {
      height: 4px;
      transform: rotate(-45deg) translate(17%, -380%);
    }

    &_day {
      width: 45%;
      transform: translate(6px, 6px);
    }

    &_night {
      width: 45%;
      transform: translate(0px, 40px);
    }

    &_header {
      height: 9vh;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 999.98px) {
  html {
    font-size: 13px;
  }

  .minesweeper {
    &_theme_divider {
      height: 4px;
      transform: rotate(-45deg) translate(25%, -400%);
    }

    &_day {
      width: 45%;
      transform: translate(6px, 6px);
    }

    &_night {
      width: 45%;
      transform: translate(0px, 30px);
    }

    &_header {
      height: 9vh;
    }
  }
}

@media screen and (min-width: 728px) and (max-width: 799.98px) {
  html {
    font-size: 12px;
  }

  .minesweeper {
    &_theme_divider {
      height: 3px;
      transform: rotate(-45deg) translate(25%, -450%);
    }

    &_theme {
      border: 4px solid yellow;
    }

    &_day {
      width: 45%;
      transform: translate(6px, 6px);
    }

    &_night {
      width: 45%;
      transform: translate(0px, 30px);
    }

    &_header {
      height: 9vh;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 727.98px) {
  html {
    font-size: 11px;
  }

  .minesweeper {
    &_theme_divider {
      height: 3px;
      transform: rotate(-45deg) translate(28%, -450%);
    }

    &_theme {
      border: 3px solid yellow;
    }

    &_day {
      width: 45%;
      transform: translate(5px, 5px);
    }

    &_night {
      width: 45%;
      transform: translate(0px, 28px);
    }

    &_header {
      height: 8vh;
    }
  }
}

.newgame {
  &_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    min-width: 320px;
    max-width: 630px;
    aspect-ratio: 1 / 0.8;
    background-color: aquamarine;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4));
    z-index: 100;
  }

  &_text {
    font-size: 2rem;
    margin-bottom: 10px;
    user-select: none;
  }

  &_mines {
    width: 90%;
    aspect-ratio: 1 / 0.8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    column-gap: 0.2vw;
  }

  &_circle {
    width: 6%;
    aspect-ratio: 1 / 1;
    background-color: bisque;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: "Pacifico", cursive;
    border: 1px solid rgba(128, 0, 128, 0.8);
    filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.8));
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      color: rgb(128, 0, 128);
    }
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.popup {
  &_cross {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -30px;
    top: -30px;
    border: 2px solid rgb(239, 255, 15);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
      border: 2px solid rgb(163, 255, 24);
      transform: rotate(45deg);
    }

    &:hover > .popup_crossline:first-child {
      background-color: rgb(213, 0, 60);
    }

    &:hover > .popup_crossline:last-child {
      background-color: rgb(213, 0, 60);
    }
  }

  &_crossline {
    width: 80%;
    height: 4px;
    position: absolute;
    display: inline-block;
    background-color: aqua;
    transition: all 0.4s ease-in-out;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 767.98px) {
  .popup {
    &_cross {
      width: 30px;
      height: 30px;
      right: -20px;
      top: -20px;
    }
  }
}
